.header-menu {
  list-style: none;
}

.header-link { 
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}